html {
 text-emphasis-color: rgb(255, 255, 255);
 text-align: center;
}


img {
 width: 200px;
 height: 200px;
}


body {
 color: rgb(0, 0, 0);
 padding: auto;
}

footer {
 align-items: flex-end;
 align-items: baseline;
}