* {
 font-family: 'Courier New', Courier, monospace;
 font-size: 16px;
}

body {
 color: rgb(3, 67, 163);
}

main {
 color: rgb(5, 5, 5);
 width: 500px;
 margin: auto;
 padding: 10px;
 box-shadow: 3px 3px 5px black;
}